body {
	background-size:100%;
	background-position:center;
	height:auto;
	margin:0px;
	padding:0px;
	font-family:arial, sans-serif;
	font-size:12px;
	overflow-x:hidden;
	background-color:#000;
}

#strona {
	width:auto;
	height:auto;
	margin:0 auto;
	background:#000;
}

nav {
	background-color:#000000;
	text-align:center;
}

.menu {
	list-style-type:none;
	margin:0;
	padding:10px;
	font-size:18px;
	min-height:40px;
	line-height:200%;
}

.menu > li {
	width:150px;
	display:inline-block;
	padding-left:20px;
	padding-right:20px;
	transition: all .2s;
}

.menu > li:hover {
	transform: scale(1.2);
}

.menu > li a {
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    padding-right:.5em;
    color: #efefef;
}

.menu a:hover {
	color: #007FFF;
}

#header {
	margin:0;
}
  
#tresc {
	margin-left:auto;
	margin-right:auto;
	background-color:#000000;
}

#h1 {
	height:10px;
	margin:0;
	background:#000000;
	color:white;
	text-align:center;
	font-size:16px;
	font-family: cursive;
}

#h1 > h1 {
	animation: slide-in-right 20s linear infinite;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
}

#tekst {
	float:center;
	width:70%;
	margin-top:50px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:20px;
	font-size:16px;
	text-align:center;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
}

#wideo {
	font-size:27px;
	color:#FFF;
	text-align:center;
}

#przyciskinv {
	background-color:rgba(255, 255, 255, 0.2);
	border: none;
	color: white;
	padding: 15px 60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 8px;
}

#przyciskinv:hover {
	background-color:rgba(255, 255, 255, 0.5);
}

#stopka1{
	display:block;
	width: 340px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.yt {
	margin-right:5px;
	height:50px;
	width:50px;
	background-color:#e52d27;
	float:left;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	transition: all .2s;
}

.yt:hover {
	transform: scale(1.1) rotate(-5deg);
}

.fb {
	margin-left:5px;
	margin-right:5px;
	height:50px;
	width:50px;
	background-color:#3b5998;
	float:left;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	transition: all .2s;
}

.fb:hover {
	transform: scale(1.1) rotate(-5deg);
}

.tw {
	margin-left:5px;
	margin-right:5px;
	height:50px;
	width:50px;
	background-color:#6441a4;
	float:left;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	transition: all .2s;
}

.tw:hover {
	transform: scale(1.1) rotate(-5deg);
}

.LOGO {
	margin-right:15px;
	height:50px;
	width:150px;
	float:left;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	transition: all .2s;
}

.LOGO:hover {
	transform: scale(1.1) rotate(-5deg);
	background-color: #007FFF;
}

#stopka2 {
	clear:both;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:0;
	width:auto;
	height:60px;
	background-color:#000000;
	color:white;
	text-align:center;
	font-size:12px;
	position:static;
	bottom:0;
}

#mapy {
	width:auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow: visible;
	padding-bottom: 80px;
}

.mapa {
	position: relative;
	width: 400px;
	height: auto;
	margin: 50px 20px 0px 20px;
	transition: all .3s;
}

.mapa:hover {
	transform: scale(1.1);
	background-color:#007FFF;
	border-radius: 8px;
}

.mapa > h3 {
	margin-top:3px;
	font-size:20px;
	text-align:center;
	color:#FFF;
}

#mapzdj {
	width: 400px;
}


#operatorzy {
	width:auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow: visible;
	padding-bottom: 80px;
	
}

.operatorat {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 50px 20px 0px 20px;
	border-radius:8px;
	transition: all .3s;
	background-color:rgba(255, 255, 255, 0.2);
	display: inline-block;
}

.operatorobr {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 50px 20px 0px 20px;
	border-radius:8px;
	transition: all .3s;
	background-color:rgba(255, 255, 255, 0.2);
	display: inline-block;
}

.operatorat:hover {
	transform: scale(1.1) rotate(2deg);
	background-color:#007FFF;
}

.operatorobr:hover {
	transform: scale(1.1) rotate(2deg);
	background-color:#007FFF;
}

.operatorat > h3 {
	font-size:18px;
	text-align:center;
	color:#FFF;
}

.operatorobr > h3 {
	font-size:18px;
	text-align:center;
	color:#FFF;
}

#przyciskiop {
	text-align: center;
	width: 100%;
}

#przyciskop:hover {
	background-color:rgba(255, 255, 255, 0.5);
}

#przyciskop {
	background-color:rgba(255, 255, 255, 0.2);
	border: none;
	color: white;
	margin: 0 20;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	cursor: pointer;
	border-radius: 8px;
	width: 20%;
	height: 100px;
}

#opzdj {
	width: 150px;
}

#svg {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

svg {
	width: 30px;
	margin: 0 10px;
}

#tabela {
	margin: auto;
	width:60%;
	height:auto;
}

#tabela, th, td {
	border: 2px solid rgb(138, 138, 138);
	border-collapse:collapse;
	position: relative;
	color:#FFF;
	text-align:center;
}

.lewo {
	float: left;
	width: 50%;
	height: auto;
}

.prawo {
	float: left;
	text-align: left;
	font-size: 25px;
	width: 50%;
	height: auto;
}

#niepr {
	color: red;
	
}

.nieem {
	color: red;
}

.tak {
	color: green;
}

.udos {
	vertical-align: -4px;
}

.bezrangi {
	color: white;
}

.Copper {
	color: rgb(144, 55, 20);
}

.Bronze {
	color: rgb(200, 144, 21);
}

.Silver {
	color: rgb(155, 153, 153);
}

.Gold {
	color: rgb(255, 217, 0);
}

.Platinium {
	color: rgb(133, 209, 235);
}

.Diamond {
	color: rgb(172, 87, 206);
}

.Champion {
	color: rgb(204, 46, 130);
}

#przyciskogol1 {
	background-color:rgba(255, 255, 255, 0.2);
	border: none;
	color: white;
	padding: 5px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	border-radius: 8px;
}